.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(183, 248, 226);

    p {
        text-align: center;
    }

    h3 {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .discount {
        margin: 40px;
        width: 85%;
        border: solid black 1px;
        border-radius: 5px;

        h4 {
            font-size: 1.25rem;
            text-align: center;
        }

        p {
            font-size: 1.25rem;
            color: rgb(94, 54, 5);
        }
    } 
    
    .inputcorte {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 80%;

        border: 2px solid black;
        border-radius: 10px;

        height: 150px;

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .sectionform {
            display: flex;
            justify-content: space-evenly;
            width: 300px;
        }

        label {
            width: 200px;
        }

        .boxForm {
            display: flex;
            align-items: center;

            width: 100%;
        }
    }
}